*.class


# Package Files #
*.war
*.ear


# IDE config directory
.metadata/*
*/.myeclipse/*
*/.settings/*
.gitignore.swp
*/WebRoot/WEB-INF/classes/*
*/WebRoot/WEB-INF/lib/*
*/build/*

fileupload/WebRoot/upload/*
